<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteBase /
	#RewriteCond %{REQUEST_FILENAME} !-d
	#RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^static(/|$) - [L,NC]
	RewriteCond $1 !^(index\.php|robots\.txt)
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
<FilesMatch "\.(ttf|otf|eot|woff|svg)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>
#<IfModule mod_php5.c>
#  php_value engine off
#</IfModule>
#<IfModule mod_php4.c>
#  php_value engine off
#</IfModule>