<!doctype html>
<html lang="en" ng-app="schedulePlanner">
<head>
  <meta charset="utf-8">
  <title>Schedule Planner</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="js/jquery.js"></script>
  <style>
	  .colored {
	  	background-color: yellow;
	  }
	  .course {
	  	margin: 2px;
	  	border: 1px solid;
	  	background-color: #eaeaea;
	  }
	  .expand {
	  	width: 100%;
	  }
	  .toolbar {
	  	background-color: #eaeaea;
	  	border: 1px solid;
	  	width: 100%;
	  }
	  .over {
	  	background-color: #eaeaea;
	  }
	  .opaque {
	  	opacity: 0.3;
	  }
  </style>
</head>
<body ng-controller="MainCtrl">
	<div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Schedule Planner</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Link</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div> 
      <div class="">
      	<div class="row">
      		<div class="col-lg-4">
      			<div style="margin-left: 3px;">
      				<!-- fix this? -->
		      		<input style="display: inline-block; width: 90%;" type="text" class="form-control" placeholder="Find Courses" required=""/>	
		      		<button class="btn btn-primary">+</button>
		      	</div>
		      	<div style="margin-top: 15px;">
      				<div ng-repeat="course in courses" class="btn course expand" name="{{course.name}}" draggable>
	      				{{course.name}}
	      			</div>
		      	</div>
	        </div>
      		<div class="col-lg-8">
      			<div class="btn toolbar">
      				toolbar?
      			</div>
      			<div class="" name="buh" id="calendar" droppable>
      				<table class="table">
      					<thead>
      						<tr>
      							<th>
      							</th>
	      						<th ng-repeat="day in ['Mon', 'Tues', 'Wed', 'Thur', 'Fri']">
	      							{{day}}
	      						</th>
	      					</tr>
     					</thead>
      					<tbody>
      						<tr ng-repeat="hour in hours">
      							<td>
      								{{(hour % 12) + 1}}
      							</td>
	      						<td class="calendar-slot" ng-repeat="day in days" id="{{day.acronym}}-{{hour}}">
	      							{{day.name}}: {{(hour % 12) + 1}}
	      						</td>
      						</tr>
      					</tbody>
	      			</table>
      			</div>
      			<img droppable id="trash" class="hide pull-right opaque" width="100" src="img/trash.jpg"></img>
	        </div>
      	</div>
      </div>
	  <script src="js/angular.min.js"></script>
	  <script src="js/app.js"></script>
	  <script src="js/controllers/mainCtrl.js"></script>
</body>
</html>
